name: Rebuild and deploy data files

permissions:
  contents: write

on:
  schedule:
    - cron: '0 0 * * 1'
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        ref: main
    - name: Set up Python 3
      uses: actions/setup-python@v6
      with:
        python-version: ^3.10
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install fontTools youseedee
    - name: Fetch youseedee database
      run: python -m youseedee 0x20
    - name: Fetch Noto fonts
      uses: actions/checkout@v5
      with:
        repository: notofonts/notofonts.github.io
        path: notofonts.github.io
        sparse-checkout: fonts/*/unhinted/ttf/*Regular.?tf
        sparse-checkout-cone-mode: false
    - name: Fetch Noto CJK
      uses: actions/checkout@v5
      with:
        repository: googlefonts/noto-cjk
        path: noto-cjk
        sparse-checkout: Sans/OTF/*/*Regular.?tf
        sparse-checkout-cone-mode: false
    - name: Fetch Noto Emoji
      uses: actions/checkout@v5
      with:
        repository: googlefonts/noto-emoji
        path: noto-emoji
        sparse-checkout: fonts/NotoColorEmoji.ttf
        sparse-checkout-cone-mode: false
    - name: Gather data
      run: python gather-codepoint-data.py
    - name: Also make text gaplist
      run: python gaps.py > gaplist.txt
    - uses: stefanzweifel/git-auto-commit-action@v6
      with:
        file_pattern: blocks/*.json blocks.json fontfiles.json gaplist.txt
